<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar" [ngClass]="{'hidden': !isSidebarVisible}">
       
        <div class="logo-container">
            <img src="assets/img/logo-ensa.png" alt="Logo ENSA" class="logo-ensa">
        </div>
       
        <ul>
            <li (click)="navigateToModules()">
                <mat-icon>dashboard</mat-icon> <span *ngIf="isSidebarVisible">Gérer Modules</span>
            </li>
            <li (click)="navigateToFormation()">
                <mat-icon>school</mat-icon> <span *ngIf="isSidebarVisible">Gérer Formation</span>
            </li>
            <li (click)="navigateToEnseignants()">
                <mat-icon>people</mat-icon> <span *ngIf="isSidebarVisible">Gérer Enseignants</span>
            </li>
            <li *ngIf="isSidebarVisible">
                <mat-icon>group</mat-icon> Gérer Étudiants
            </li>
            <li class="logout" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> <span *ngIf="isSidebarVisible">Déconnexion</span>
            </li>
        </ul>
    </aside>

    <!-- Contenu principal -->
    <main class="main-content" [class.hidden-sidebar]="!isSidebarVisible">
        <h1>Tableau de Bord du Directeur</h1>
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </main>
</div>
