<body>
  <div class="page-container">
    <h1>Gestion des Étudiants</h1>
    <div class="container">
      <div class="student-grid">
        <div *ngFor="let note of studentNotes" class="student-card">
          <span class="student-name">{{ note.etudiantFirstName }} {{ note.etudiantLastName }}</span>
          <input type="number" [(ngModel)]="note.valeur" class="note-input" placeholder="Note" />
        </div>
      </div>
      <button class="update-all-button" (click)="updateAllNotes()">Mettre à jour toutes les notes</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
  </div>
</body>