<div class="container">
  <h1>Dashboard Enseignant</h1>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!errorMessage && matieres.length === 0">
    <p>Aucune matière disponible.</p>
  </div>

  <table *ngIf="matieres.length > 0" class="matieres-table">
    <thead>
      <tr>
       
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matiere of matieres">
    
        <td>
          <a [routerLink]="['/manage-subject', matiere.id]">{{ matiere.nom }}</a>

        </td>
       
      </tr>
    </tbody>
  </table>
</div>

<a href="#" (click)="goToProjects($event)">Gérer Projets Académiques</a>