<div class="header">
  <app-header></app-header>
  <!-- Bouton pour ouvrir le formulaire d'ajout de projet -->
<button style="margin-left: 1260px;" class="btn btn-primary" (click)="ouvrirModal()">Ajouter un nouveau projet</button>
<a style="align-items: center; margin-left: 20px;" routerLink="/etudiant-dashboard" class="btn btn-primary">
  <i class="glyphicon glyphicon-arrow-left"></i> 
  <!-- <i class="fas fa-arrow-left"></i> -->
</a>
</div>
<!-- Affichage des projets existants -->
<div *ngIf="projets.length > 0; else noProjects">
  <h1>Mes Projets Académiques</h1>

 



  <div *ngFor="let projet of projets" class="projet-card">
    <h3>{{ projet.titre }}</h3>
    <p><strong>Sujet:</strong> {{ projet.sujet }}</p>
    <p><strong>Société:</strong> {{ projet.societe }}</p>
    <p><strong>Date de début:</strong> {{ projet.datedebut | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Date de fin:</strong> {{ projet.datefin | date: 'dd/MM/yyyy' }}</p>
  </div>
</div>

<!-- Message affiché si aucun projet n'est trouvé -->
<ng-template #noProjects>
  <p>Aucun projet académique trouvé.</p>
</ng-template>



<!-- Modal pour l'ajout d'un nouveau projet -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Ajouter un projet académique</h2>
      <span class="close" (click)="fermerModal()">&times;</span>
    </div>
    
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #projectForm="ngForm">

        <div class="row">
        
        <div class="col-md-6"> <!-- Colonne 1 -->
        <!-- Sujet -->
        <div class="form-group">
          <label for="sujet">Sujet :</label>
          <input type="text" id="sujet" [(ngModel)]="nouveauProjet.sujet" name="sujet" required class="form-control" />
        </div>
        
        <!-- Société -->
        <div class="form-group">
          <label for="societe">Société :</label>
          <input type="text" id="societe" [(ngModel)]="nouveauProjet.societe" name="societe" required class="form-control" />
        </div>
        <!-- Titre -->
        <div class="form-group">
          <label for="titre">Titre :</label>
          <input type="text" id="titre" [(ngModel)]="nouveauProjet.titre" name="titre" required class="form-control" />
        </div>
        
        <!-- Date de début -->
        <div class="form-group">
          <label for="datedebut">Date de début :</label>
          <input type="date" id="datedebut" [(ngModel)]="nouveauProjet.datedebut" name="datedebut" required class="form-control" />
        </div>
        
        
      </div>
      <div class="col-md-6"> <!-- Colonne 2 -->
        <!-- Date de fin -->
        <div class="form-group">
          <label for="datefin">Date de fin :</label>
          <input type="date" id="datefin" [(ngModel)]="nouveauProjet.datefin" name="datefin" required class="form-control" />
        </div>
        <!-- Type de Projet -->
        <div class="form-group">
          <label for="type">Type de Projet :</label>
          <select id="type" [(ngModel)]="nouveauProjet.type" name="type" required class="form-control">
            <option value="PFE">PFE</option>
            <option value="PFA">PFA</option>
          </select>
        </div>

        <!-- Date Universitaire -->
        <div class="form-group">
          <label for="dateUniversitaire">Date Universitaire :</label>
          <input type="text" id="dateUniversitaire" [(ngModel)]="nouveauProjet.dateUniversitaire" name="dateUniversitaire" required class="form-control" />
        </div>

        <!-- Statut du Projet -->
        <!-- <div class="form-group">
          <label for="statut">Statut :</label>
          <select id="statut" [(ngModel)]="nouveauProjet.statut" name="statut" required class="form-control">
            <option value="EN_COURS">En cours</option>
            <option value="TERMINE">Terminé</option>
            <option value="ANNULE">Annulé</option>
          </select>
        </div> -->
        
        <!-- ID de l'étudiant -->
        <!-- <div class="form-group">
          <label for="etudiantId">ID de l'Étudiant :</label>
          <input type="number" id="etudiantId" [(ngModel)]="nouveauProjet.etudiant.id" name="etudiantId" required class="form-control" />
        </div> -->
        
        <!-- ID de l'enseignant -->
        <div class="form-group">
          <label for="enseignantId">Enseignant :</label>
          <select id="enseignantId" [(ngModel)]="nouveauProjet.enseignant.id" name="enseignantId" required class="form-control">
            <option *ngFor="let enseignant of enseignants" [value]="enseignant.id">
              {{ enseignant.firstName }} {{ enseignant.lastName }}
            </option>
          </select>
        </div>
      </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!projectForm.form.valid">Enregistrer et Générer Convention</button>
          <button type="button" class="btn btn-secondary" (click)="fermerModal()">Annuler</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Message affiché si le PDF est téléchargé avec succès -->
<div *ngIf="confirmationMessage" class="alert alert-success">
  {{ confirmationMessage }}
</div>

<!-- Message affiché en cas d'erreur -->
<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>
