<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h2>Tableau de Bord du <b>Directeur</b></h2>
                </div>
                <div class="col-sm-6 d-flex justify-content-end">
                    <button class="btn btn-success d-flex align-items-center" (click)="navigateToAddEnseignant()">
                        <i class="material-icons">&#xE147;</i>
                        <span>Ajouter Enseignant</span>
                    </button>
                </div>
            </div>
        </div>

        <p *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</p>
        <p *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</p>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enseignant of enseignants | paginate: { itemsPerPage: 5, currentPage: page }">
                    <td>{{ enseignant.firstName }}</td>
                    <td>{{ enseignant.lastName }}</td>
                    <td>{{ enseignant.email }}</td>
                    <td class="text-center">
                        <div class="action-icons">
                            <button class="action-btn btn-danger" (click)="deleteEnseignant(enseignant.id)">
                                <i class="material-icons">&#xE872;</i>
                            </button>
                            <button class="action-btn btn-info" [routerLink]="['/modifier-enseignant', enseignant.id]">
                                <i class="material-icons">&#xE254;</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Pagination controls -->
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
